body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.header {
    overflow: hidden;
    background-color: #001d38;
    padding: 20px 10px;
}
.logo a {
    font-size: 25px;
    font-weight: bolder;
}
.header a {
    float: left;
    color: #ffff;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}
.header a:hover {
    background-color: #ddd;
    color: black;
}
.l-text {
    background-color: #5db2ff;
}
.header a.active {
    background-color: dodgerblue;
    color: #ffff;
}
.header-right {
    float: right;
}
@media only screen and(min-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    
}


* {
    box-sizing: border-box;
}
.hero-page {
    position: relative;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffff;
    font-size: large;
    font-family: sans-serif;
    padding-top: 50px;
}
.hero-button {
    padding: 20px;
    border-width: 1px;
    background-color: #5db2ff;
    border-color: #ffff;
    border-radius: 5px;
    color: #ffff;
    text-align: center;
    font-size: larger;
}
.hero-button:hover {
    background-color: #001d38;
}


* {
    box-sizing: border-box;
}
.service-section {
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
}
.service-text {
    padding: 10%;
}
.text {
    float: left;
    width: 48%;
    color: white;
    text-align: start;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #5db2ff;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    font-family: 'Times New Roman', Times, serif;
}
.text:hover {
    box-shadow: 0, 8px, 16px, 0 rgba(0,0,0,0.2);
}
.text::after {
    content: "";
    display: table;
    clear: both;
}
.text h3 {
    text-align: center;
    font-size: larger;
}
@media only screen and (max-width: 800px) {
    .service-section {
        width: 100%;
    }
    .text {
        width: 100%;
    }
    
}


* {
    box-sizing: border-box;
}
.about-container {
    font-family: sans-serif;
    text-align: center;
    font-family: sans-serif;
    font-size: xx-large;
    font-weight: bolder;
}
.about-text p {
    font-size: large;
    text-align: start;
    font-family: sans-serif;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
    align-items: center;

}
.btn {
    background-color: green;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: large;
    margin-left: 30px;
    text-align: center;
}
.btn:hover {
    background-color: #111;
}
.hero-btn {
    padding: 20px;
    border-width: 1px;
    background-color: #5db2ff;
    border-color: #ffff;
    border-radius: 5px;
    color: #ffff;
    text-align: center;
    font-size: larger;
}


* {
    box-sizing: border-box;
}
.portfolio-text {
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    padding: 10%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 40%;
    padding: 0 4px;
    background-color: lightgrey;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.6;

}
.column img:hover {
    opacity: 1;
}
@media only screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    } 
}
@media only screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
    
}


*{
    box-sizing: border-box;
}
.contact-section {
    font-family: sans-serif;
    padding: 20px;
}
.input-box {
    padding: 15px;
    width: 20%;
}
@media only screen and (max-width: 800px) {
    .input-box {
        width: 100%;
    }
    .contact-section {
        width: 100%;
    }

    
}


.footer-section {
    background-color: #1f1f1f;
    text-align: center;
    color: #ffff;
    align-items: center;
    text-align: center;
    padding: 5%;
}
.links {
    display: flex;
    width: 100%;
    padding: 30px;
    text-align: center;
    font-family: sans-serif;
    margin-left: 10%;
    
}
.links::after {
    content: "";
    display: table;
    clear: both;
}

.copy-right {
    text-align: center;
}